body{
    background-color: #D1F6EE;
    font-family: Arial, Helvetica, sans-serif
}

h1{
    display : block;
    font-family:futura-pt, Helvetica, Arial, sans-serif;
    font-size:36px;
    height:258px;
    letter-spacing:-1.5px;
    line-height:43.2px;
    margin-block-end:120px;
    margin-bottom:120px;
    margin-inline-end:0px;
    margin-inline-start:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:330px;
    text-size-adjust:100%;
    width:421.48